@page "/"
@using Data
@using SkiaSharp
@using System.IO
@using Microsoft.AspNetCore.Hosting;
@using Services
@using Blazored.Toast
@using Blazor.FileReader
@inject IToastService toastService
@inject IWebHostEnvironment _environment
@inject IReportsService _reportsService
@inject IFileReaderService fileReaderService

<BlazoredToasts />

<div class="container">
    <h3>
        Production report
        <br /> @_date.ToString("yyyy-MM-dd hh:mm")
    </h3>
    <form>
        <div class="form-row mb-3">
            <div class="col">
                <input type="text" autocomplete="on" id="orderNumber" maxlength="50" class="form-control" @bind="@_selectedOrder" placeholder="Order number" />
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col">
                <input type="text" autocomplete="on" id="itemNumbers" maxlength="18" class="form-control" @bind="@_selectedItemNumber" placeholder="Item number" />
            </div>
            <div class="col">
                <input type="text" maxlength="50" autocomplete="on" id="itemNames" class="form-control" @bind="@_selectedItemName" placeholder="Item name" />
            </div>
        </div>
    </form>

    <div class="form-row mb-3">
        <div class="col">
            <button @onclick="GenerateTimeCode" class="btn btn-success form-control">Generate time code</button>
        </div>
        <div class="col">
            <input type="text" maxlength="18" class="text-center form-control" @bind-value="_timeCode" />
        </div>
    </div>

    <div class="@progressDisplay">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span>Please wait<span class="dotdotdot"></span></span>
        </div>
    </div>

    @if (_pictures != null)
    {
        @foreach (var item in _pictures)
        {
            <div class="border border-info rounded p-3 align-items-center mb-3" style="border-style: dashed !important;">
                <div class="row mb-2">
                    <div class="col-sm-12 col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Section</span>
                            </div>
                            <input type="text" class="form-control" list="sections" @bind-value="item.SectionName" @bind-value:event="oninput" />
                            <datalist id="sections">
                                @foreach (var reportSection in _reportSections.Sections)
                                {
                                    <option value="@reportSection">@reportSection</option>
                                }
                            </datalist>
                            <div class="input-group-append">
                                <label class="btn pb-0 mb-0 btn-outline-dark">
                                    <input type="file" capture="camera" accept="image/*" @ref=_inputElement @onchange="@HandleFileSelected" />
                                    <i class="oi oi-cloud-upload"></i> Upload
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12 col-md-6">
                        <img src="@item.PictureUrl" style="max-height:600px" class="img-fluid" alt="" />
                    </div>
                </div>

                <button class="btn btn-danger" @onclick="@(() => RemovePicture(item.GuId))">Remove</button>
            </div>

        }
    }

    <div class="row mt-3">
        <div class="col-6">
            <button class="btn btn-success" @onclick="AddPicture">Add picture</button>
        </div>
        <div class="col-6">
            <label class="btn btn-primary" for="my-file-selector">
                Add multiple <input id="my-file-selector" type="file" multiple accept="image/*" @ref=_multipleFilesInput @onchange="@HandleMultipleFilesSelected" class="d-none">
            </label>
        </div>
    </div>

    @if (_pictures.Any(x => string.IsNullOrWhiteSpace(x.SectionName)) || _pictures.Any(x => string.IsNullOrWhiteSpace(x.PictureUrl)) || string.IsNullOrWhiteSpace(_selectedOrder))
    {

    }
    else
    {
        <div class="row m-3">
            <div class="col-12">
                <button class="btn btn-success" @onclick="PostProductionreport">Save production report</button>
            </div>
        </div>
    }
</div>

@code{
    bool _saving;
    DateTime _date;
    List<ReportPicture> _pictures;
    ReportSections _reportSections;
    string _selectedSection;
    string _selectedItemName;
    string _selectedItemNumber;
    List<string> _itemNumbers;
    List<string> _itemNames;
    List<Order> _orders;
    string _selectedOrder;
    string _timeCode;
    ElementReference _inputElement;
    ElementReference _multipleFilesInput;
    public string progressDisplay { get { return _saving? "progress" : "d-none";} }



    protected override async Task OnInitializedAsync()
    {
        StartUp();
        _orders = await _reportsService.GetOrders();
        _itemNames = await _reportsService.GetItemNames();
        _itemNumbers = await _reportsService.GetItemNumbers();
        _reportSections = await _reportsService.GetReportSections();
        _timeCode = null;
    }

    private void StartUp()
    {
        _date = DateTime.Now;
        _pictures = new List<ReportPicture>();
    }

    private void RemovePicture(string guid)
    {
        var picture = _pictures.FirstOrDefault(x => x.GuId == guid);

        if (picture != null)
        {
            _pictures.Remove(picture);
        }
    }

    async Task HandleMultipleFilesSelected()
    {
        var files = (await fileReaderService.CreateReference(_multipleFilesInput).EnumerateFilesAsync()).ToList();

        if (files.Count < 1)
        {
            return;
        }

        _saving = true;

        foreach (var file in files)
        {
            _pictures.Add(new ReportPicture());
            await ProcessFile(file);
        }

        _saving = false;
    }

    async Task HandleFileSelected()
    {
        var files = (await fileReaderService.CreateReference(_inputElement).EnumerateFilesAsync()).ToList();

        if (files.Count < 1)
        {
            return;
        }

        var file = files.FirstOrDefault();

        await ProcessFile(file);
    }

    private async Task ProcessFile(IFileReference file)
    {
        var path = Path.GetTempFileName();
        using (var stream = new FileStream(path, FileMode.Create))
        {
            var s = await file.OpenReadAsync();
            await s.CopyToAsync(stream);
        }

        var desiredWidth = 800;

        // create the codec
        using (var codec = SKCodec.Create(path))
        {
            var info = codec.Info;

            // get the scale that is nearest to what we want (eg: jpg returned 512)
            var supportedScale = codec.GetScaledDimensions((float)desiredWidth / info.Width);

            // decode the bitmap at the nearest size
            var nearest = new SKImageInfo(supportedScale.Width, supportedScale.Height);
            var bmp = SKBitmap.Decode(codec, nearest);

            var fileName = $"{Guid.NewGuid()}.jpg";

            var filePath = Path.Combine(_environment.ContentRootPath, "wwwroot", "uploads", fileName);
            using (var s = System.IO.File.OpenWrite(filePath))
            {
                SKData d = SKImage.FromBitmap(bmp).Encode(SKEncodedImageFormat.Jpeg, 90);
                d.SaveTo(s);
                _pictures.Last().PictureUrl = $"uploads/{fileName}";
            }
        }
    }

    void GenerateTimeCode()
    {
        _timeCode = Base36.NumberToBase36(DateTime.Now.Ticks);
    }

    void AddPicture()
    {
        _pictures.Add(new ReportPicture());
    }

    async Task PostProductionreport()
    {
        var orderId = await _reportsService.GetOrderId(_selectedOrder);

        if (string.IsNullOrWhiteSpace(_timeCode)) GenerateTimeCode();

        var report = new ProductionReport { Date = _date, ReportPictures = _pictures, ItemName = _selectedItemName, ItemNumber = _selectedItemNumber, OrderId = orderId, TimeCode = _timeCode };

        var sectionNames = _pictures.Select(x => x.SectionName).ToList();
        var sectionDifferences = sectionNames.Except(_reportSections.Sections).ToList();

        if (sectionDifferences.Any())
        {
            await _reportsService.PostSections(sectionDifferences);
            _reportSections.Sections.AddRange(sectionDifferences);
        }

        if (!_itemNames.Contains(_selectedItemName))
        {
            await _reportsService.PostItemName(_selectedItemName);
            _itemNames.Add(_selectedItemName);
        }

        if (!_itemNumbers.Contains(_selectedItemNumber))
        {
            await _reportsService.PostItemNumber(_selectedItemNumber);
            _itemNumbers.Add(_selectedItemNumber);
        }

        var orderNumbers = _orders.Select(x => x.OrderNumber);

        if (!orderNumbers.Contains(_selectedOrder))
        {
            _orders.Add(new Order { OrderNumber = _selectedOrder });
        }

        try
        {
            var result = await _reportsService.PostReport(report);

            if (result)
            {
                toastService.ShowSuccess("Added to the database");
                StartUp();
            }
            else
            {
                toastService.ShowError("Failure when adding to the database");
            }
        }
        catch (Exception e)
        {
            toastService.ShowError("Failure when adding to the database. You may have to reload the application.");
            throw e;
        }

    }
}