@page "/reports/{OrderId:int}"

@using ProductionDocumentationServer.Data
@using ProductionDocumentationServer.Data.Repositories
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids

@inject NavigationManager _navManager
@inject IOrdersRepository _ordersRepository

<h3>Reports on order @_orderNumber</h3>

<SfGrid AllowTextWrap="false" TValue="ProductionReport" ID="Grid" @ref="Grid" AllowPaging="true" AllowResizing="true" AllowExcelExport="true" AllowPdfExport="true" AllowSelection="true"
        AllowSorting="true" Toolbar="@(new List<string>() { "ExcelExport", "Search"})" Query="GetQuery()">
    <GridSearchSettings IgnoreAccent="true" IgnoreCase="true"></GridSearchSettings>
    <GridEvents CommandClicked="OnCommandClicked" TValue="ProductionReport"></GridEvents>
    <SfDataManager AdaptorInstance="@typeof(ProductionDocumentationServer.Data.DataAdaptors.ReportsAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
    <GridEditSettings AllowAdding="false" AllowEditing="true" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
    <GridSelectionSettings Type="SelectionType.Single"></GridSelectionSettings>
    <GridEvents OnToolbarClick="ToolbarClick" TValue="ProductionReport"></GridEvents>
    <GridColumns>
        <GridColumn Field="@nameof(ProductionReport.Id)" HeaderText="Id" IsPrimaryKey="false" Visible="false" IsIdentity="true"></GridColumn>
        <GridColumn Field=@nameof(ProductionReport.Date) HeaderText="Date" AllowEditing="false" Format="d" Type="ColumnType.Date" Width="80"></GridColumn>
        <GridColumn Field=@nameof(ProductionReport.MaterialDate) HeaderText="Material date" AllowEditing="false" Format="d" Type="ColumnType.Date" Width="80"></GridColumn>
        <GridColumn Field=@nameof(ProductionReport.TimeCode) HeaderText="Time code" Width="80"></GridColumn>
        <GridColumn Field=@nameof(ProductionReport.ItemNumber) HeaderText="Item number" AllowEditing="false" Width="80"></GridColumn>
        <GridColumn Field=@nameof(ProductionReport.ItemName) HeaderText="Item name" AllowEditing="false" Width="80"></GridColumn>
        <GridColumn HeaderText=" " Width="180" TextAlign="TextAlign.Center">
            <GridCommandColumns>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "Open" })"></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code {
    [Parameter] public int OrderId { get; set; }
    private string _orderNumber;

    SfGrid<ProductionReport> Grid;

    public Query GetQuery()
    {
        //if (OrderId == null)
        //{
        //    return new Query();
        //}

        return new Query().AddParams("OrderId", OrderId);
    }

    public void ToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Grid_pdfexport")
        {
            this.Grid.PdfExport();
        }
        if (args.Item.Id == "Grid_excelexport")
        {
            this.Grid.ExcelExport();
        }
        if (args.Item.Id == "Grid_csvexport")
        {
            this.Grid.CsvExport();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _orderNumber = await _ordersRepository.GetOrderNumber(OrderId).ConfigureAwait(false);
    }

    public void OnCommandClicked(CommandClickEventArgs<ProductionReport> args)
    {
        _navManager.NavigateTo($"/report/{args.RowData.Id}");
    }
}